%h1= "Week #{params[:id]}"
= link_to "Edit lineup", edit_league_week_path(params[:league_id], params[:id])
%h2 Starters

%h2 Bench

%h2 Your team
%ul.unstyled
  - @current_user_teams.each do |t|
    %li= t.name