#headerArea {
  background-color: #4D4D4D;
  border-bottom: 1px solid #eee;
  z-index: 10000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 45px;
  color: white;
  .logo {
    padding-left: 12px;
    margin-top: 7px;
    a {
      color: white;
    }
  }
  .nav-bar {
    height: 45px;
    margin-top: -1px;
    > li {
      line-height: 43px;
    }
    .league_name {
      text-transform: uppercase;
    }
  }
}