.leagues.show {
  .league_header {
    display: inline-block;
  }
  .match_ups {
    tr.all {
      display: none;
      &.current_user {
        display: table-row;
      }
    }
  }
  .owner {
    background: yellow;
  }
  .delete {
    display: none;
  }
}